html,body {
    background-color: #cecece;
    height: 100vh;
    width: 100vw;
}
.row{
    width: 100%;
}
#URL-input{
    padding: 15px;
    border: 1px solid;
    border-radius: 10px 0 0 0;
    width:100%;
    height:100%;
    font-size: 2em;
}
.search-icon{
    margin:auto;
}
#search{
    background-color: red;
}
input[type="button"] {
    width: 100%;  
    height: 100px;
    font-size: 2em;
}
#player{
    width:102.5%;
    margin-left: 1%;
}
#dmp4{
    border-radius: 0 0 0 10px;
    background-color: #ff0000;
}
#dmp3{
    border-radius: 0 0 10px 0;
}
#icon{
    position: absolute;
    margin-top:15%;
    margin-left:56%;
    width:50px;
}
.hidden{
    display: none;
}


